:host {
    display: block;
    height: 100%;
}

.phone-detail__full-size-center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.phone-detail__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.phone-detail__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.phone-detail__side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    max-height: 20rem;
}

.phone-detail__image {
    height: 20rem;
}

@media only screen and (max-width: 480px) {
    .phone-detail__content {
        flex-direction: column;
    }

    .phone-detail__side {
        max-height: 10rem;
        align-items: center;
    }
}
