.phone-list-container__full-size-center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.phone-list-container__title {
    text-align: center;
}

.phone-list-container__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.phone-list-container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    border: 1px solid grey;
    border-radius: 4px;
    height: 20rem;
    width: 20rem;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 2rem;
    cursor: pointer;
}

.phone-list-container__item:hover {
    transform: scale(1.05);
}

.phone-list-container__image {
    height: 10rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.paginator {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

button.selected {
    background-color: deepskyblue;
}
